main {
  background-color: var(--nihon-blue);
}

svg {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: 5px;
  left: -10px;
}
figcaption {
  font-size: 0.5rem;
  color: var(--nihon-dark-grey);
}
figcaption a:link,
figcaption a:visited {
  color: var(--nihon-dark-grey) !important;
}

/* classes */

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px;
}
.menu-category {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.menu-category > h2,
.menu-category > p {
  color: white;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.menu-category > h2 a:link,
.menu-category > h2 a:visited {
  font-size: 5rem;
  margin-left: 50px;
  color: var(--nihon-dark-grey);
}

.card .menu-item-price {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.card .menu-item-description {
  font-size: 0.75rem;
  padding: 4px;
}

.appetizers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
